<!--<div class="p-5"></div>-->

<footer class="footer footer-dark footer-expand-lg bg-dark ">
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
         <p align="middle" style="color: aliceblue; font-size: 120%; ">Jananee: jananee99@hotmail.com Noah: noah.dinh@outlook.com</p>
        </div>
    </div>
    </div>
</footer>

