<meta charset="UTF-8">
<title>Home</title>

<link href="/style/main.css" rel="stylesheet" type="text/css">

  <div class="topnav">
    <a class="menu" id="nav-home" href="/"> Home </a></li>
    <a class="menu" id="nav-challenges" href="/challenges"> Daily Challenges</a></li>
    <a class="menu" id="nav-footprint" href="/footprint">Carbon footprint</a></li>
    <a class="menu" id="nav-setting" href="/setting"> Setting</a></li>
  </div>
