<meta charset="UTF-8">
<title>Home</title>

<link href="/style/main.css" rel="stylesheet" type="text/css">

  <div class="topnav">
    <a class="menu" href="/"> Home </a></li>
    <a class="menu" href="/challenges"> Daily Challenges</a></li>
    <a class="menu" href="/footprint">Carbon footprint</a></li>
    <a class="menu" href="/setting"> Setting</a></li>
  </div>
