/*!* Add a black background color to the top navigation *!*/
/*.topnav {*/
/*  background-color: #333;*/
/*  overflow: hidden;*/
/*}*/

/*!* Style the links inside the navigation bar *!*/
/*.topnav a {*/
/*  float: left;*/
/*  color: #f2f2f2;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*  font-size: 17px;*/
/*}*/

/*!* Change the color of links on hover *!*/
/*.topnav a:hover {*/
/*  background-color: #ddd;*/
/*  color: black;*/
/*}*/
.bg-dark{
    background-color: #4CAF50 !important;
}
.align-middle td{
    vertical-align: middle;
}


html, body {
  height: 100%;
  margin: 0;
}
main {
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer,
.push {
  height: 50px;
}
