<!DOCTYPE html>
<style>
    #nav-footprint{
        color: white;
    }
</style>




<main>
    <%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <form>
        <div class="mb-3">
        <label for="distance" class="form-label">Distance (km): </label>
        <input type="number" id="distance" name="distance" class="form-control" >
        </div>
<!--    <label for ="distance">Distance (km):</label>-->
<!--    <input type="number" id="distance" name="distance"> <br>-->
        <div class="mb-3">
            <label for="car" class="form-label">Car : </label>
    <select id="car" name="car" class="form-select">
        <option value="10.1142">Acura CDX</option>
        <option value="11.0">Acura NSX</option>
        <option value="10.5847">Audi A8</option>
        <option value="8.6">Audi Q2</option>
        <option value="9.15">BMW 3 series sedan</option>
        <option value="8.93815">BMW X1</option>
        <option value="11.2903">Chevrolet Blazer</option>
        <option value="11.2903">Chevrolet Impala</option>
        <option value="9.3">Ford Aspire</option>
        <option value="8.4">Ford EcoSport</option>
        <option value="7.76208">Honda CR-V</option>
        <option value="7.4">Honda Civic</option>
        <option value="9.87901">Infiniti Q50</option>
        <option value="9.7">Infiniti QX50</option>
        <option value="9.87901">Jeep Cherokee</option>
        <option value="12.4664">Jeep Wrangler</option>
        <option value="8.70294">Kia Optima</option>
        <option value="8.93815">Kia Sorento</option>
        <option value="7.762081">Nissan Altima</option>
        <option value="7.2">Nissan Kicks</option>
        <option value="10.1142">Subaru BRZ</option>
        <option value="10">Subaru Ascent</option>
        <option value="7.4">Toyota Corolla</option>
        <option value="7.7">Toyota RAV4</option>
        <option value="9.40858">Volkswagen Arteon</option>
        <option value="12">Volkswagen Atlas</option>
    </select>
        </div>

    <button type="button" class="btn btn-success" id ="button"onclick="mySelectFunction()">Calculate</button><br>
    </select>
</form>

    <p id="result" class="m-3 text-center h2"></p>
    </div>
  </div>
</div>

</main>
<%- include('./partials/footer') %>



<script>
    function mySelectFunction() {
        var input = document.getElementById("car");
        var inputVal = "";
        if (input) {
            inputVal = input.value;
        }
        var co =(inputVal *2.33)/100;
        co = co.toFixed(4)
        document.getElementById("result").innerHTML = co +" g of CO2/km";
        // alert(co + " g of CO2/km");
    }
</script>
