<style>
    #nav-challenges{
        background-color: #4CAF50;
        color: white;
    }
</style>

<%- include('./partials/header') %>


    <h2>Your daily challenge is</h2>
    <h3><%= challenge  %></h3>


