<style>
    #nav-home{
        color: white;
    }
</style>
<link href="/style/main.css" rel="stylesheet" type="text/css">

<main>
    <%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1>Welcome to Green Hack!!</h1>
        <h4>Goal</h4>
        <p>Develop digital solutions to facilitate cities' decarbonization!</p>

        <h4>Topic </h4>
        <p><b>Building the economy of tomorrow</b> - How to promote the green and inclusive economy? How to promote the purchase of local products? With the principles of sustainable development, how can we reduce the ecological footprint, promote reuse and recycling?</p>

        <h4>Inspiration</h4>
        <p>We wanted to do something that is fun to use while making the user be more green. We also wanted to
        inform the user of their car carbone footprint. So in the end, we just merged both idea and made
        Green Hack</p>

        <h4>What it does</h4>
        <p>Green Hack is website that challenges the user to be more green. The Daily Challenges
        site will give the user like it say daily challenge. Everytime the user accomplis a challenge
        there level will go out. by increasing their level, they will have a change to be at the top
        of the leader board. The Carbon Footprint site is to inform the user the amount Co2/km they are
        putting into the environment when travelling in a vehicle.</p>

        <h4>How we built it</h4>
        <p>We decided to slip the web development in to front-end and back-end because we are a
        team of two. We used Phycharm as IDE with Node.js and MongoDB</p>

        <h4>Challenges we ran into</h4>
        <p>Even if we had some knowledge working with the Pycharm IDE, it was my first time using Node.js and
        MongoDB. We ran into some installation problems but is was solved with the help of my teammate.
        Also, we planned on making this idea into a app but we did not have time to set up all
        the things needed for a app development. So we chang the idea to a website.</p>

        <h4>Accomplishments that we're proud of</h4>
        <p>In 24h, we made a fully functioning website with login feature. </p>

        <h4>What we learned</h4>
        <p>We learned how to work with MongoDB and Node.js.</p>

        <h4>What's next for Green Hack</h4>
        <p>The main goal will be to set it up as an android and ios app like we planned at the start
        of the project. Afterwards, we should add more features. For example letting the user create their own
        list of challenges that they want to do.</p>
    </div>
  </div>
</div>
</main>
<%- include('./partials/footer') %>
