<style>
    #nav-home{
        color: white;
    }
</style>


<main>
    <%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1>Welcome to Green Hack!!!</h1>
        <h3>Goal</h3>
        <p>dugsgdsc</p>
        <h3>Topic that was focused on</h3>
    </div>
  </div>
</div>
</main>
<%- include('./partials/footer') %>
