<style>
    #nav-home{
        color: white;
    }
</style>


<main>
    <%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1>Homepage!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat et libero in bibendum. Sed rhoncus risus iaculis, aliquam nulla ac, egestas nunc. Nunc rutrum in quam at blandit. Nullam facilisis, turpis non dapibus pharetra, purus elit porttitor odio, id tempus mi est nec nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tincidunt magna dolor, vel ultrices nisl viverra sit amet. Sed eget felis faucibus, tincidunt enim quis, convallis massa. Ut est tellus, egestas id justo quis, pellentesque imperdiet metus. Cras sollicitudin, dolor dignissim ornare hendrerit, dolor mi accumsan nunc, ut congue augue tortor et odio. Ut molestie ex eu dapibus efficitur. Donec est sem, vehicula vel quam vehicula, varius rhoncus sem. Nunc interdum ac magna ac ultrices. Nullam et ultrices ligula.</p>

    </div>
  </div>
</div>
</main>
<%- include('./partials/footer') %>
